<div class="container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-togglenabled-md">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" ariacontrols="navbarContent" aria-expanded="false" aria-label="Toggle
navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><img src="assets/trivera.jpg"/> {{title}}</a>
    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed"
         id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'CustomerManagement'">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'OrderManagement'">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'ShippingManagement'">Shipping</a>
        </li>
      </ul>
      <span class="buttons">
        <a href="http://triveratech.com" target="_blank">Trivera Home</a>
        <a href="http://meetings.webex.com" target="_blank">WebEx</a>
      </span>
    </div>
  </header>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="bd-footer text-muted">
  <div class="container">
    &copy; 2017 Trivera Technologies
  </div>
</footer>
